.footer {
    grid-column: full-start / -1;

    padding: 5rem 0;
    color: #f0f0f0;
    background-image: linear-gradient(to bottom,
                        rgba(3, 24, 41, 0.95),
                        rgba(3, 24, 41, 0.95)),
                    url(../images/gallery15.jpg);
    background-size: cover;
    background-position: center;


    &__list {
        font-size: 1.6rem;
        list-style: none;
        text-decoration: none;
        text-align: center;
        &-item {
            text-transform: capitalize;
            text-decoration: none;
            color: #fff;

            &:hover {
                color: #32b6cde6;
                
            }
        }
        
        @include respond(tab-land) {
            font-size: 1.2em;
        }
    }

    &__header {
        font-size: 2rem;
        color: #32b6cde6;
        text-transform: uppercase;
        margin-bottom: 1rem;

        @include respond(tab-land) {
            font-size: 1.2em;
        }

        &:hover {
            color: #fff;
        }
    }
}

.footer-nav { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 5rem;
                    
    
}

.footer-header {
    font-size: 3rem;
    font-weight: 200;
    margin: 0 auto;

}
.copy-right {
    font-size: 1.6rem;
    text-align: center;
    color: #32b6cde6;
    transform: translateY(3rem);
    text-transform: capitalize;
    opacity: .8;
    margin-top: 2rem;
}