.header {
    grid-column: full-start / full-end;
    background-image: linear-gradient(to right,
                        rgba(50, 182, 205, 0.9),
                        rgba(50, 205, 50, 0.9)),
                    url(../images/background.jpg);
                    
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.nav-bar {
    width: 100%;
    font-size: 1.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;    @include respond (tab-land) {
        align-items: flex-start;
        margin-top: 0;

    }

    
    &__items {
        width: 70rem;
        display: flex;
        justify-content: space-around;
        list-style: none;
        
        
        @include respond (tab-land) {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            font-size: 3rem;
            position: absolute;
            position: fixed;
            clip-path: circle(10rem at 90% -15%);
            height: 100%;
            width: 100%;
            z-index: 90;
            pointer-events: none;
            background-color: #32b6cd;
            transition: all  .4s;

        }

    }

    &__show {
        clip-path: circle(115rem at 90% -15%);

    }

    &__links:link,
    &__links::before,
    &__links::after,
    &__links:visited {
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
        transition: all .1s;
        padding-bottom: .5rem;
    }
    &__links:hover {
        border-bottom: .2rem solid #fff;
    }

    @include respond (tab-land) {
        text-transform: uppercase;
    }
}

.logo {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    margin-left: 2rem;
    z-index: 99;
    @include respond (tab-land) {
        margin-top: 3rem;
    } 

}

.lines {
    padding-bottom: 1rem;
    margin-right: 4rem;
    display: none;
    z-index: 100;
    position: absolute;
    top: 5%;
    right: 5%;

    @include respond  (tab-land) {
        display: block;
    }
}

.line {
    width: 3rem;
    height: .4rem;
    background-color: #fff;
    margin-bottom: .5rem;
}

.text-box {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.heading-primary {
    font-size: 6rem;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 1rem;
    letter-spacing: .1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.btn:link,
.btn::before,
.btn::after,
.btn:visited{  
    text-decoration: none;
    font-size: 1.6rem;
}






.book-now {
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border: .2rem solid #fff;
    transition: all .2s;

    &:hover {
        background-color: #fff;
        color: var(--sea-green);
    }
}



