
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
/*colors*/
 --sea-green: #32cd32;

}

html{
    // this defines what 1rem is
    font-size: 62.5%; //1 rem = 10px/16px = 62.5%;

    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #333;
    

    @include respond(tab-land) {
        font-size: 56.25%; //1rem  = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
       font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-dektop) {
       font-size: 75%; //1rem = 12px, 12/16 = 33%
    }
}

.main-container {
    display: grid;
    grid-template-columns: [full-start] 5rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr 5rem[ful-end];
    grid-template-rows: 100vh repeat(7, min-content);

}

