*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
/*colors*/
 --sea-green: #32cd32;

}

html{
    font-size: 62.5%;
    font-family: sans-serif;
    line-height: 1.7;
    font-weight: 400;
    color: #333;
}
.main-container {
    display: grid;
    grid-template-columns: [full-start] 5rem 1fr repeat(8,[col-start] minmax(min-content, 14rem))[col-end] 1fr 5rem[ful-end];
    grid-template-rows: 100vh repeat(7, min-content);
}

