.margin-top {
    margin-top: 10rem;
}

.section-heading {
    font-size: 2.5rem;
    font-weight: .3rem;
    background-image: linear-gradient(to right, rgb(50, 182, 205),rgb(50, 205, 50));
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 2rem;
    width: 23rem;
}
