.margin-top {
    margin-top: 10rem;
}

.section-heading {
    font-size: 2.8rem;
    font-weight: 550;
    color: #329ccd;
    text-transform: uppercase;
    margin-bottom: 2rem;
    width: 26rem;

    @include respond (tab-land) {
        margin: 0 auto;
        margin-bottom: 1em;
    }
}
