.services {
    grid-column: col-start 1 / col-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;

    font-size: 1.6rem;
    text-align: center;
    -webkit-hyphens: auto;

    

    
    &__container {
        color: #666;
    }

    &__info{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #0e5594f2;
        text-transform: capitalize;

        @include respond(tab-port){
            font-size: 1.4em;
        }
    }
    &__icon {
        width: 10rem;
        height: 10rem;
        fill: #2f9fb3e6;
    }
    &__text {
        font-size: 1.6rem;
        @include respond(tab-land) {
            font-size: 1.2em;
        }
    }
}   

